{%- include trans.html -%}
<div class="cv-page">
  {% if page.identifier == "cv-printable" %}
    <div class="pdf-generator">
      <a href="http://www.winnovative-software.com/free-html-to-pdf-converter/"
        title="PDF generator" target="_blank">
        <i class="fas fa-cogs"></i>
      </a>
      <a href="https://www.sejda.com/pdf-editor" title="PDF file editor" target="_blank">
        <i class="fas fa-edit"></i>
      </a>
    </div>
  {% endif %}

  <h2 class="profile-title ">{{ _trans.cv.profile_title }}</h2>
  {%- assign my_age = 'now' | date: "%Y" | minus:1991 -%}
  {%- assign my_experience = 'now' | date: "%Y" | minus:2013 -%}
  <p class="cv-bio">{{ _trans.cv.bio | replace: "$age", my_age | replace: "$experience", my_experience }}</p>
  <div class="cv-section">
      <h3 class="cv-section-title"><i class="fas fa-briefcase"></i> {{ _trans.cv.experience.name }}</h3>
      {%- for experience in _trans.cv.experience.list -%}
        <div class="cv-subsection">
          <div class="cv-subsection-date">{{- experience.date -}}</div>
          <div class="cv-subsection-details">
            <h4 class="cv-subsection-title">{{- experience.title -}}</h4>
            <small class="cv-subsection-subtitle">
              {{- experience.subtitle -}}
              {%- if experience.link -%}
                <a href="{{- experience.link -}}" title="{{- experience.link_title -}}" target="_blank">
                  <i class="fas fa-link"></i>
                </a>
              {%- endif -%}
            </small>
            <p class="cv-subsection-description">{{- experience.description -}}</p>
          </div>
        </div>
      {%- endfor -%}
  </div>

  <div class="cv-section">
      <h3 class="cv-section-title"><i class="fas fa-graduation-cap"></i> {{ _trans.cv.education.name }}</h3>
      {%- for education in _trans.cv.education.list -%}
        <div class="cv-subsection">
          <div class="cv-subsection-date">{{- education.date -}}</div>
          <div class="cv-subsection-details">
            <h4 class="cv-subsection-title">{{- education.title -}}</h4>
            <small class="cv-subsection-subtitle">{{- education.subtitle -}}</small>
          </div>
        </div>
      {%- endfor -%}
  </div>
  {%- if page.identifier != "cv-printable" -%}
  <div class="cv-section">
    <h3 class="cv-section-title"><i class="fas fa-terminal"></i> {{ _trans.cv.skills.name }}</h3>

    <div class="row cv-2-cols">
      {% for skill in _trans.cv.skills.list %}
        <div class="cv-subsection cv-col col-md-6">
          <div class="cv-subsection-details">
            <h4 class="cv-subsection-title">{{ skill.title }}</h4>
            <div class="cv-progress" >
                <div class="cv-progress-value" style="width: {{ skill.progress }}"></div>
            </div>
            <p>{{ skill.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="cv-section">
    <h3 class="cv-section-title"><i class="fas fa-share-alt"></i> {{ _trans.cv.network.name }}</h3>

    <div class="row cv-2-cols">
      {%- for network in _trans.cv.network.list -%}
        <div class="cv-subsection cv-col col-md-6">
          <div class="cv-subsection-details">
            <h4 class="cv-subsection-title">{{ network.title }}</h4>
            {% assign network_key = network.name | append: '_username' %}
            <div class="cv-subsection-link">
              <a
                href="{{ network.link }}{{ network.path }}/{{ site.author[network_key] }}"
                title="{{ _trans.cv.network.find_me_on }} {{ network.title }}" target="_blank">
                {{ network.icon }}{{ network.path }}/{{ site.author[network_key] }}
              </a>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
</div>